* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
}
.wrapper {
    margin: 0 auto;
    width: 60%;
    height: 100%;
    border: 5px solid black;
}
header .container-fluid{
    height: 50px;
}
.my-bg-gradient {
    background: linear-gradient(90deg, rgba(34,195,123,1) 0%, rgba(107,152,191,1) 21%, rgba(84,8,235,1) 45%, rgba(235,254,0,1) 70%, rgba(253,104,45,1) 100%);
}
h1 {
    text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
  }
.my-bg-snake {
    background-color: rgba(38, 148, 38, 0.8);
}
main {
    height: calc(100vh - 207px);
    position: relative;
}
.snake-ground{
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
footer .container-fluid {
    height: 100px;
    background: linear-gradient(90deg, rgba(34,195,123,1) 0%, rgba(107,152,191,1) 21%, rgba(84,8,235,1) 45%, rgba(235,254,0,1) 70%, rgba(253,104,45,1) 100%);
}
.snake-square {
    width: 120px;
    height: 20px;
    background: linear-gradient(90deg, rgba(143,50,0,1) 0%, rgba(143,50,0,1) 65%, rgba(223,255,0,1) 100%);
    font-size: 1.5rem;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-bottom: 5px;
    padding-right: 10px;
    border-radius: 20px;
}
.my-absolute {
    position: absolute;
    top: 0px;
    left:20px;
}
canvas {
    margin: 0 !important;
    padding: 0 !important;
}